.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  border: 1px solid #000;
}

.gameHeader {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mazeBoard {
  border: 5px solid #000;
}

.row {
  display: flex;
}

.reloadIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #1976d2;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.reloadIcon:hover {
  background-color: #1565c0;
}
